*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  justify-content: center;
}
.App {
    text-align: center;
  }
  
.post{
  display: flex;
  margin-top: 15px;
  border: 2px solid darkblue;
  align-items: center;
  justify-content: space-between;
}

  