*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  justify-content: center;
}
.App {
    text-align: center;
  }
.post{
  display: flex;
  margin-top: 15px;
  border: 2px solid darkblue;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
}
.page_wrapper{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.page{
  border-radius: 3px;
  margin-right: 3px;
  padding: 5px;
  cursor: pointer;
  border: 1px darkblue solid;
}
.page_current{
  border: 2px solid yellow;
  font-weight: bold;
}
.post_view{
  display: flex;
  overflow-wrap: break-word;
  max-width: 80vw;
  padding: 10px 20px 20px 20px;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  position: absolute;
  top:15%;
  left:50%;
  background: rgba(128, 128, 128, 0.087);
  border-radius: 5px;
  transform: translate(-50%,0%);
}
.post_view  hr {
  border: none;
}
.post_view hr:before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    border: 1px solid grey;
  }
.post_view_desc{
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.post_view_header{
  display:flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.post_view_goback{
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
}
.post_view_header img{
  max-height: 40px;
  max-width: 40px;
}
.post_view_header h1{
  text-align: center;
}
  