*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  justify-content: center;
}
.App {
    text-align: center;
  }
.post{
  display: flex;
  margin-top: 15px;
  border: 2px solid darkblue;
  align-items: center;
  justify-content: space-between;
}
.page_wrapper{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.page{
  border-radius: 3px;
  margin-right: 3px;
  padding: 5px;
  cursor: pointer;
  border: 1px darkblue solid;
}
.page_current{
  border: 2px solid yellow;
  font-weight: bold;
}
.post_view{
  display: flex;
  padding: 0px 30px 20px 20px;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  position: absolute;
  top:15%;
  left:50%;
  background: rgba(128, 128, 128, 0.087);
  border-radius: 5px;
  transform: translate(-50%,-50%);
}
.post_body{
  justify-content: center;
  align-items: center;
  background: rgb(26, 23, 23);
}
.post_title{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.post_arrow{
  transform: translate(-10%,8%);
  max-height: 40px;
  max-width: 40px;
  cursor: pointer;
}
  